@import 'colors.scss';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .eva {
        color: $color-bulb;
    }

    .text {
        margin-top: 10px;
        font-weight: bold;
    }

    .subtext {
        margin-top: 5px;
        opacity: 0.8;
    }
}
