<div class="gradient" #gradientArea>
    <div class="gradient-color" [style.background]="colorGradient"></div>
    <div class="gradient-color-w"></div>
    <div class="gradient-color-temp" [style.background]="tempGradient" *ngIf="mode === 'TEMP'" [@fade]></div>
</div>
<div class="picker-layer">
    <div class="picker" [style.top]="pickerTop + 'px'" [style.left]="pickerLeft + 'px'" [style.background-color]="pickerColor" *ngIf="pickerColor"></div>
</div>
<div class="btn-layer">
    <div class="btn btn-done" (pressup)="done.emit()" (click)="done.emit()">Done</div>
</div>
