@import 'colors.scss';
@import 'buttons.scss';

:host {
    transform: translateZ(0);
}

.tile {
    @include pressable();
    position: relative;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    backdrop-filter: blur(20px);

    &:before {
        content: '';
        padding-bottom: 100%;
        display: inline-block;
        vertical-align: top;
    }

    .tile-icon {
        color: #333;
        transition: all 0.25s ease;
        margin-bottom: 6px;
    }

    .tile-content {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding: 12px;
        transition: opacity 0.15s ease;
    }

    .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .text,
    .value {
        font-size: 13px;
        font-weight: 700;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .text {
        color: black;
    }

    .value {
        color: #666;
    }

    &:not(.active) {
        background-color: rgba(255, 255, 255, 0.6);

        .tile-content {
            opacity: 0.5;
        }
    }

    &.active {
        .tile-icon {
            color: $color-accent;
        }
    }
}
