@import 'shadows.scss';

:host {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
    @include shadow-2xl();
}
