<div class="mode mode-presets" *ngIf="mode === 'PRESETS'" [@zoomFadeShrink]>
    <app-light-overlay-header text="Colour"></app-light-overlay-header>
    <app-color-presets
        (edit)="onEdit()"
        [presets]="presets"
        (currentPresetChange)="onChangePreset($event)"
        [currentPreset]="currentPreset"
        [currentColor]="currentColor || '#FFFFFF'"
    ></app-color-presets>
    <div class="footer">
        <div
            class="btn btn-action"
            (click)="entityOverlay.mode$.next('BRIGHTNESS')"
            *ngIf="showBrightnessModeButton | async"
        >
            Brightness
        </div>
    </div>
</div>
<div class="mode mode-edit" *ngIf="mode === 'EDIT'" [@zoomFadeGrow]>
    <app-light-overlay-header text="Colour"></app-light-overlay-header>
    <app-color-editor
        (done)="onDone()"
        [miredsMin]="entity?.attributes?.min_mireds"
        [miredsMax]="entity?.attributes?.max_mireds"
        [(value)]="editValue"
    ></app-color-editor>
    <div class="footer">
        <div class="btn-action-group">
            <div
                class="btn btn-action"
                *ngIf="showColorButton | async"
                [class.active]="editValue?.type === 'COLOR'"
                (click)="switchColorType('COLOR')"
            >
                Color
            </div>
            <div
                class="btn btn-action"
                *ngIf="showColorTempButton | async"
                [class.active]="editValue?.type === 'TEMP'"
                (click)="switchColorType('TEMP')"
            >
                Temperature
            </div>
        </div>
    </div>
</div>
