@import 'shadows.scss';
@import 'buttons.scss';

:host {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
    height: 100%;

    app-color-presets {
        flex-shrink: 0;
    }

    app-light-overlay-header,
    .footer {
        flex: 1;
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        padding-bottom: 24px;
    }
}
