:host {
    height: 100%;
    width: 100%;
    padding: 24px 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/bgs/bg1.jpg');
}

.bottom-pad {
    height: 24px;
    flex-shrink: 0;
    width: 100%;
}
