@mixin noSelect() {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin pressable() {
    @include noSelect();

    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.15s ease,
        background-color 0.15s ease;

    &:hover {
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    }

    &:active {
        //transform: translateY(2px);
        transform: scale(1.1);
    }
}

.btn {
    @include pressable();
    pointer-events: auto;
}

.btn-action {
    $bg: #888;
    background-color: $bg;
    color: #fff;
    font-weight: bold;
    border-radius: 99999999px;
    padding: 6px 20px;
    font-size: 14px;

    &:active {
        background-color: lighten($bg, 10%);
    }
}
