:host {
    padding-top: 78px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% + 24px * 2);
    margin: 0 -24px;
}

.title {
    font-size: 18px;
    font-weight: 500;
    margin-left: 24px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: auto;
    width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}
