@import 'shadows.scss';
@import 'buttons.scss';

:host {
    z-index: 0;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;

    app-entity-overlay-header,
    .footer {
        flex: 1;
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        padding-bottom: 24px;
    }
}

.switch {
    pointer-events: auto;
    align-self: center;
    border-radius: 48px;
    width: 134px;
    flex: 2;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    padding: 10px;
    @include shadow-2xl();

    .switch-bg {
        z-index: 1;
        transition: all 0.25s ease;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0.4;
    }

    .switch-fill {
        z-index: 2;
        background-color: white;
        width: 100%;
        height: 50%;
        position: relative;
        border-radius: 38px;
        transition: top 0.05s;
        &:not(.panning) {
            transition: top 0.25s ease;
        }
    }
}
