@import 'fonts.scss';
@import 'colors.scss';
@import '../node_modules/eva-icons/style/eva-icons.css';

* {
    box-sizing: border-box;
    font-family: 'SF Pro Text', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'SF Pro Display', sans-serif;
    margin: 0;
}

html,
body {
    background: black;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    color: $color-text;
}
